<div class="p-4 grid gap-4 w-100">

  <section class="flex gap-2 items-center">
    <button  c-button (click)="theme.toggle()">Toggle theme</button>
  </section>

  <!--Plain-->
  <h1>Plain Buttons</h1>

  <section class="flex gap-2 items-center flex-wrap">
    <button c-button>Primary</button>

    <button c-button color="success">Success</button>

    <button c-button #buttonEl color="warning">Warning</button>

    <button c-button color="error">Error</button>

    <button c-button disabled>Disabled</button>

    <button c-button size="lg">Large</button>

    <button c-button size="sm">Small</button>


    <button c-button size="lg-icon">
      <i class="material-icons-outlined">search</i>
    </button>

    <button c-button size="md-icon">
      <i class="material-icons-outlined">search</i>
    </button>

    <button c-button size="sm-icon">
      <i class="material-icons-outlined">search</i>
    </button>


    <button c-button loading class="w-20">
      Loading
    </button>

    <button c-button selected class="w-20">
      Selected
    </button>

  </section>


  <h1>Outline Buttons</h1>

  <!--Outline-->
  <section class="flex gap-2 items-center flex-wrap">
    <button c-button b-type="outline">Primary</button>

    <button c-button b-type="outline" color="success">Success</button>

    <button c-button b-type="outline" color="warning">Warning</button>

    <button c-button b-type="outline" color="error">Error</button>

    <button c-button b-type="outline" disabled>Disabled</button>

    <button c-button b-type="outline" size="lg">Large</button>

    <button c-button b-type="outline" size="sm">Small</button>


    <button c-button b-type="outline" size="lg-icon">
      <i class="material-icons-outlined">search</i>
    </button>

    <button c-button b-type="outline" size="md-icon">
      <i class="material-icons-outlined">search</i>
    </button>

    <button c-button b-type="outline" size="sm-icon">
      <i class="material-icons-outlined">search</i>
    </button>

    <button c-button loading b-type="outline" class="w-20">
      Loading
    </button>

    <button c-button selected b-type="outline" class="w-20">
      Selected
    </button>
  </section>


  <h1>Flat Buttons </h1>
  <!--Flat-->
  <section class="flex gap-2 items-center flex-wrap">
    <button c-button b-type="flat">Primary</button>

    <button c-button b-type="flat" color="success">Success</button>

    <button c-button b-type="flat" color="warning">Warning</button>

    <button c-button b-type="flat" color="error">Error</button>

    <button c-button b-type="flat" disabled>Disabled</button>

    <button c-button b-type="flat" size="lg">Large</button>

    <button c-button b-type="flat" size="sm">Small</button>

    <button c-button b-type="flat" size="lg-icon">
      <i class="material-icons-outlined">search</i>
    </button>

    <button c-button b-type="flat" size="md-icon">
      <i class="material-icons-outlined">search</i>
    </button>

    <button c-button b-type="flat" size="sm-icon">
      <i class="material-icons-outlined">search</i>
    </button>

    <button c-button loading b-type="flat" class="w-20">
      Loading
    </button>

    <button c-button selected b-type="flat" class="w-20">
      Selected
    </button>
  </section>


  <h1>Inputs</h1>
  <section class="flex gap-2 items-center flex-wrap">
    <input c-input placeholder="placeholder...">

    <input c-input disabled placeholder="disabled...">
  </section>

  <h1>Dialogs</h1>
  <section class="flex gap-2 items-center flex-wrap">
    <button  c-button (click)="onOpenDialogClick()">Open dialog from component</button>

    <button  c-button (click)="onOpenDialogClickFromTpl(myWonderfulDialogTpl)">Open dialog from template</button>

    <ng-template #myWonderfulDialogTpl let-message="message" let-isItGood="isItGood">

      <div class="px-4">
        <p>{{message}}</p>

        <p> it good? {{isItGood}}</p>
      </div>


    </ng-template>


  </section>


  <h1>Tooltips</h1>
  <section class="flex gap-2 items-center flex-wrap">
    <button  c-button c-tooltip="Top tooltip" >Tooltip top</button>
    <button  c-button c-tooltip="Bottom tooltip" c-tooltip-position="bottom" >Tooltip bottom</button>
    <button  c-button [c-tooltip]="customTooltipTpl" >Tooltip custom tpl</button>

    <ng-template #customTooltipTpl>
      <div class="bg-c-red-50 text-c-white p-2 text-sm">hehe</div>
    </ng-template>


  </section>



  <h1>Alerts</h1>

  <section class="flex gap-2 items-center flex-wrap">

    <c-alert title="Info alert" message="Lorem Ipsum is simply dummy text of the printing and..."/>
    <c-alert title="Success alert" message="Lorem Ipsum is simply dummy text of the printing and..." severity="success"/>
    <c-alert title="Warning alert" message="Lorem Ipsum is simply dummy text of the printing and..." severity="warning"/>
    <c-alert title="Error alert" message="Lorem Ipsum is simply dummy text of the printing and..." severity="error"/>

  </section>

  <h1>Alert dialog</h1>

  <section class="flex gap-2 items-center flex-wrap">
    <button c-button (click)="onOpenAlertClick(selectElement.value, durationInput.value, actionInput.value)">Open alert</button>

    <select name="Severity" id="severities" #selectElement class="bg-transparent">
      <option *ngFor="let severity of alertSeverities" [value]="severity">{{severity}}</option>
    </select>

    <input c-input #durationInput type="number" value="5000">

    <input c-input #actionInput type="text" value="My action">

  </section>


  <h1>Checkbox</h1>

  <section class="flex gap-2 items-center flex-wrap">
    <div class="flex items-center">
      <input c-checkbox id="notifications" [(ngModel)]="checked">
      <label for="notifications">Notifications</label>
    </div>

    <div class="flex items-center">
      <input c-checkbox id="notifications-disabled" checked disabled>
      <label for="notifications-disabled">Disabled</label>
    </div>
  </section>

  <h1>Switch</h1>

  <section class="flex gap-2 items-center flex-wrap">

    <c-switch-container>
      <input c-switch id="switch" [(ngModel)]="checked">
      <label for="switch">Switch me</label>
    </c-switch-container>

    <button c-button (click)="checked = !checked">switch me</button>

    <c-switch-container>
      <input c-switch id="switch-disabled" [disabled]="disabled" checked>
      <label for="switch-disabled">Switch me</label>
    </c-switch-container>

    <button c-button (click)="disabled = !disabled">Disabled</button>

  </section>



  <h1>Radio Group</h1>


  <section>


    <fieldset class="grid gap-2" role="radiogroup">
      <div class="flex items-center gap-2">
        <input id="angular" c-radio-button name="ui-framework" checked>
        <label for="angular">Angular</label>
      </div>

      <div class="flex items-center gap-2">
        <input id="vuejs" c-radio-button name="ui-framework">
        <label for="vuejs">Vue.js</label>
      </div>

      <div class="flex items-center gap-2" >
        <input id="react" c-radio-button name="ui-framework">
        <label for="react">React</label>
      </div>

      <div class="flex items-center gap-2">
        <input id="svelte" c-radio-button name="ui-framework">
        <label for="svelte">Svelte</label>
      </div>

      <div class="flex items-center gap-2">
        <input id="radio-disabled" c-radio-button name="ui-framework" disabled>
        <label for="radio-disabled">Disabled</label>
      </div>


    </fieldset>


  </section>
</div>




