<app-test/>


<div class="p-4 grid gap-4 w-100">

  <h1>Charme UI</h1>

  <section class="flex gap-2 items-center">
    <button c-button (click)="theme.toggle()">Toggle theme</button>
  </section>


  <h2>Disclosure</h2>

  <section>
    <c-disclosure #discoCmp>

      <div class="flex gap-2 items-center">
        <p>Open hide stuff</p>
        <button c-disclosure-trigger c-button size="sm-icon" b-type="flat" color="basic">
          <i class="material-icons-outlined transition-all duration-200"
             [ngClass]="discoCmp.open ? 'rotate-180' : ''">expand_more</i>
        </button>
      </div>

      <section c-disclosure-content>
        I'm the hidden content boohoo


        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
      </section>


    </c-disclosure>

  </section>

  <h2>Separator</h2>
  <section class="grid">

    <div class="flex gap-2">
      <p>Test</p>
      <c-separator orientation="vertical"/>
      <p>Test</p>
    </div>


    <c-separator size="20%"/>

    <div class="flex gap-2">
      <p>Test</p>
      <c-separator orientation="vertical"/>
      <p>Test</p>
    </div>

  </section>


  <h2>Accordion</h2>

  <section class="grid gap-4">

    <div class="flex gap-2">
      <button c-button (click)="open = !open">Toggle first</button>
      <button c-button (click)="secondOpen = !secondOpen">Toggle Second</button>

      <button c-button (click)="accordion.openAll()" [disabled]="!multipleSelect">Open all</button>
      <button c-button (click)="accordion.closeAll()">Close all</button>

      <c-checkbox-container>
        <input id="multiple-select" c-checkbox [(ngModel)]="multipleSelect">
        <label for="multiple-select">Multiple select</label>
      </c-checkbox-container>


    </div>

    <c-accordion class="w-80" [multipleSelect]="multipleSelect" #accordion>

      <c-accordion-item [(open)]="open">
        <ng-template c-accordion-trigger>
          Big content
        </ng-template>

        <ng-template c-accordion-content>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
          and scrambled it to make a type specimen book. It has survived not only five centuries, but also the
          leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s
          with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
          publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </ng-template>
      </c-accordion-item>


      <c-accordion-item [(open)]="secondOpen">
        <ng-template c-accordion-trigger>
          Scrollable content | is open: {{ secondOpen }}
        </ng-template>

        <ng-template c-accordion-content>
          <p class="h-20 overflow-auto"> Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
            unknown printer took a galley of type and scrambled it to make a type specimen book. It has
            survived not only five centuries, but also the leap into electronic typesetting, remaining
            essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
            containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus
            PageMaker including versions of Lorem Ipsum.</p>
        </ng-template>
      </c-accordion-item>

      <c-accordion-item>
        <ng-template c-accordion-trigger>
          Custom content
        </ng-template>

        <ng-template c-accordion-content>
          <p [style.color]="'red'">This is the content</p>
        </ng-template>
      </c-accordion-item>

      <c-accordion-item disabled="true">
        <ng-template c-accordion-trigger>
          Disabled header
        </ng-template>

        <ng-template c-accordion-content>
          You will never see this content
        </ng-template>
      </c-accordion-item>


    </c-accordion>


  </section>

  <h2>Menu</h2>

  <section>
    <button c-button [c-menu-trigger]="myMenu">Open menu</button>

    <ng-template #myMenu>

      <div class="grid gap-2 p-4 rounded h-80">
        <input c-input placeholder="test">


        <button c-button c-menu-close>Close</button>

      </div>

    </ng-template>

  </section>


  <h2>Menu Bar</h2>

  <section>
    <div c-menu-bar class="ring-secondary w-fit rounded flex items-center p-1">
      <button b-type="flat" color="basic" c-button size="sm" [c-menu-trigger]="file" c-menu-item>File</button>
      <button b-type="flat" color="basic" c-button size="sm" [c-menu-trigger]="edit" c-menu-item>Edit</button>
      <button b-type="flat" color="basic" c-button size="sm" [c-menu-trigger]="file" c-menu-item>Help</button>
    </div>

    <ng-template #file>
      <div class="py-2 grid w-40" c-menu>
        <button c-menu-item c-button color="basic" b-type="flat">New file</button>
        <button c-menu-item c-button color="basic" b-type="flat" [c-menu-trigger]="openFile">Open file
          <i class="material-icons-outlined">navigate_next</i>

        </button>

        <c-separator color="secondary"/>

        <button c-menu-item c-button color="basic" b-type="flat">Share file</button>
        <button c-menu-item c-button color="basic" b-type="flat">Delete file

          <i class="material-icons-outlined">delete</i>

        </button>

      </div>

      <ng-template #openFile>
        <div class="py-2 grid w-40" c-menu>
          <button c-menu-item color="basic" c-button b-type="flat">My timesheet</button>
          <button c-menu-item color="basic" c-button b-type="flat" [c-menu-trigger]="whateverMenu">Whatever
            <i class="material-icons-outlined">navigate_next</i>
          </button>
        </div>


        <ng-template #whateverMenu>
          <div class="py-2 grid w-40" c-menu>
            <button c-menu-item color="basic" c-button b-type="flat">Test</button>
            <button c-menu-item color="basic" c-button b-type="flat" (click)="onItemClick()">Test 2
              <i class="material-icons-outlined">search</i>
            </button>
          </div>
        </ng-template>

      </ng-template>

    </ng-template>

    <ng-template #edit>
      <div class="py-2 grid w-40" c-menu>
        <button c-menu-item c-button color="basic" b-type="flat">New file</button>
        <button c-menu-item c-button color="basic" b-type="flat" [c-menu-trigger]="checkBoxButtonTest">Open file
          <i class="material-icons-outlined">navigate_next</i>

        </button>

        <c-separator color="secondary"/>

        <button c-menu-item c-button color="basic" b-type="flat">Share file</button>
        <button c-menu-item c-button color="basic" b-type="flat">Delete file

          <i class="material-icons-outlined">delete</i>

        </button>

      </div>


      <ng-template #checkBoxButtonTest>

        <div c-menu class="py-2 grid w-40">
          <button color="basic" b-type="flat" c-button c-menu-item-checkbox checked>
            Bold
            <c-menu-item-checkbox-checked/>
          </button>
          <button color="basic" c-button b-type="flat" c-menu-item-checkbox>
            Italic
            <c-menu-item-checkbox-checked/>
          </button>


          <c-separator color="secondary"/>

          <button color="basic" b-type="flat" c-button c-menu-item-radio checked>
            Bold
            <c-menu-item-radio-checked/>
          </button>
          <button color="basic" c-button b-type="flat" c-menu-item-radio>
            Italic
            <c-menu-item-radio-checked/>
          </button>
        </div>


      </ng-template>


    </ng-template>

    <ng-template #help>

    </ng-template>

  </section>


  = <h2>Plain Buttons</h2>

  <section class="flex gap-2 items-center flex-wrap">

    <button c-button b-type="plain" color="basic">Basic</button>


    <button c-button b-type="plain">Primary</button>

    <button c-button b-type="plain" color="success">Success</button>

    <button c-button b-type="plain" #buttonEl color="warning">Warning</button>

    <button c-button b-type="plain" color="error">Error</button>

    <button c-button b-type="plain" disabled>Disabled</button>

    <button c-button b-type="plain" size="lg">Large</button>

    <button c-button b-type="plain" size="sm">Small</button>


    <button c-button b-type="plain" size="lg-icon">
      <i class="material-icons-outlined">search</i>
    </button>

    <button c-button b-type="plain" size="md-icon">
      <i class="material-icons-outlined">search</i>
    </button>

    <button c-button b-type="plain" size="sm-icon">
      <i class="material-icons-outlined">search</i>
    </button>


    <button c-button #buttonTest2 b-type="plain" loading class="w-20">
      Loading
    </button>

    <button #buttonTest c-button b-type="plain" selected class="w-20">
      Selected
    </button>

  </section>

  <h2>Soft Buttons</h2>

  <section class="flex gap-2 items-center flex-wrap">
    <button c-button b-type="soft" color="basic">Basic</button>

    <button c-button b-type="soft">Primary</button>

    <button c-button b-type="soft" color="success">Success</button>

    <button c-button b-type="soft" color="warning">Warning</button>

    <button c-button b-type="soft" color="error">Error</button>

    <button c-button b-type="soft" disabled>Disabled</button>

    <button c-button b-type="soft" size="lg">Large</button>

    <button c-button b-type="soft" size="sm">Small</button>


    <button c-button b-type="soft" size="lg-icon">
      <i class="material-icons-outlined">search</i>
    </button>

    <button c-button b-type="soft" size="md-icon">
      <i class="material-icons-outlined">search</i>
    </button>

    <button c-button b-type="soft" size="sm-icon">
      <i class="material-icons-outlined">search</i>
    </button>


    <button c-button b-type="soft" loading class="w-20">
      Loading
    </button>

    <button c-button b-type="soft" selected class="w-20">
      Selected
    </button>

  </section>


  <h2>Outline Buttons</h2>

  <section class="flex gap-2 items-center flex-wrap">
    <button c-button b-type="outline" color="basic">Basic</button>

    <button c-button b-type="outline">Primary</button>

    <button c-button b-type="outline" color="success">Success</button>

    <button c-button b-type="outline" color="warning">Warning</button>

    <button c-button b-type="outline" color="error">Error</button>

    <button c-button b-type="outline" disabled>Disabled</button>

    <button c-button b-type="outline" size="lg">Large</button>

    <button c-button b-type="outline" size="sm">Small</button>


    <button c-button b-type="outline" size="lg-icon">
      <i class="material-icons-outlined">search</i>
    </button>

    <button c-button b-type="outline" size="md-icon">
      <i class="material-icons-outlined">search</i>
    </button>

    <button c-button b-type="outline" size="sm-icon">
      <i class="material-icons-outlined">search</i>
    </button>

    <button c-button loading b-type="outline">
      Loading
    </button>

    <button c-button selected b-type="outline">
      Selected
    </button>
  </section>


  <h2>Flat Buttons </h2>

  <section class="flex gap-2 items-center flex-wrap">
    <button c-button b-type="flat" color="basic">Basic</button>

    <button c-button b-type="flat">Primary</button>

    <button c-button b-type="flat" color="success">Success</button>

    <button c-button b-type="flat" color="warning">Warning</button>

    <button c-button b-type="flat" color="error">Error</button>

    <button c-button b-type="flat" disabled c-tooltip="test">Disabled</button>

    <button c-button b-type="flat" size="lg">Large</button>

    <button c-button b-type="flat" size="sm">Small</button>

    <button c-button b-type="flat" size="lg-icon">
      <i class="material-icons-outlined">search</i>
    </button>

    <button c-button b-type="flat" size="md-icon">
      <i class="material-icons-outlined">search</i>
    </button>

    <button c-button b-type="flat" size="sm-icon">
      <i class="material-icons-outlined">search</i>
    </button>

    <button c-button loading b-type="flat" class="w-20">
      Loading
    </button>

    <button c-button selected b-type="flat" class="w-20">
      Selected
    </button>
  </section>


  <h2>Inputs</h2>
  <section class="flex gap-2 items-center flex-wrap">

    <div class="grid gap-2">
      <label class="text-sm" for="test-input">Basic input</label>
      <input id="test-input" c-input placeholder="placeholder...">
    </div>

    <div class="grid gap-2">
      <label class="text-sm" for="disabled-input">Disabled input</label>
      <input c-input id="disabled-input" disabled placeholder="disabled...">
    </div>

  </section>

  <h2>Dialogs</h2>
  <section class="flex gap-2 items-center flex-wrap">
    <button c-button (click)="onOpenDialogClick()">Open dialog from component</button>

    <button c-button (click)="onOpenDialogClickFromTpl(myWonderfulDialogTpl)">Open dialog from template</button>

    <ng-template #myWonderfulDialogTpl let-message="message" let-isItGood="isItGood">

      <div class="p-4 grid gap-2">
        <p>{{ message }}</p>

        <p> Is it good? {{ isItGood }}</p>

        <input c-input placeholder="Username...">


      </div>


    </ng-template>


  </section>


  <h2>Tooltips</h2>
  <section class="flex gap-2 items-center flex-wrap h-80 card ">
    <button c-button c-tooltip="Top tooltip">Tooltip top</button>
    <button c-button c-tooltip="Bottom tooltip" c-tooltip-position="bottom">Tooltip bottom</button>
    <button c-button c-tooltip="Right tooltip" c-tooltip-position="right">Tooltip right</button>
    <button c-button c-tooltip="Left tooltip" c-tooltip-position="left">Tooltip left</button>

    <button c-button [c-tooltip]="customTooltipTpl">Tooltip custom tpl</button>

    <ng-template #customTooltipTpl>
      <div class="bg-error-500 text-white p-2 text-sm">hehe</div>
    </ng-template>


  </section>


  <h2>Alerts</h2>

  <section class="flex gap-2 items-center flex-wrap">

    <c-alert title="Info alert" message="Lorem Ipsum is simply dummy text of the printing and..."/>
    <c-alert title="Success alert" message="Lorem Ipsum is simply dummy text of the printing and..."
             severity="success"/>
    <c-alert title="Warning alert" message="Lorem Ipsum is simply dummy text of the printing and..."
             severity="warning"/>
    <c-alert title="Error alert" message="Lorem Ipsum is simply dummy text of the printing and..."
             severity="error"/>

  </section>

  <h2>Alert dialog</h2>

  <section class="flex gap-2 items-center flex-wrap">
    <button c-button
            (click)="onOpenAlertClick(selectElement.value, durationInput.valueAsNumber, actionInput.value)">Open
      alert
    </button>

    <div>
      <label for="severities">Severities</label>
      <select name="Severity" id="severities" #selectElement class="bg-transparent">
        @for (severity of alertSeverities;track severity) {
          <option [value]="severity">{{ severity }}</option>
        }
      </select>

    </div>

    <div class="grid gap-2">
      <label for="duration" class="text-sm">Duration</label>
      <input id="duration" c-input #durationInput type="number" value="5000">

    </div>
    <div class="grid gap-2">
      <label for="action" class="text-sm">Action text</label>
      <input id="action" c-input #actionInput type="text" value="My action">

    </div>


  </section>


  <h2>Checkbox</h2>

  <section class="flex gap-2 items-center flex-wrap">
    <c-checkbox-container>
      <input c-checkbox id="c-primary" [(ngModel)]="checked">
      <label for="c-primary">Primary</label>
    </c-checkbox-container>

    <c-checkbox-container>
      <input c-checkbox id="success" c-type="success" checked>
      <label for="success">Success</label>
    </c-checkbox-container>

    <c-checkbox-container>
      <input c-checkbox id="c-warning" c-type="warning" checked>
      <label for="c-warning">Warning</label>
    </c-checkbox-container>

    <c-checkbox-container>
      <input c-checkbox id="c-error" c-type="error" checked>
      <label for="c-error">Error</label>
    </c-checkbox-container>

    <c-checkbox-container>
      <input c-checkbox id="c-disabled" checked disabled>
      <label for="c-disabled">Disabled</label>
    </c-checkbox-container>

    <c-checkbox-container>
      <input c-checkbox id="c-custom" c-type="error" checked
             class="text-error-600 checked:bg-yellow-500 checked:hover:bg-blue-600 checked:after:content-['favorite']">
      <label for="c-custom" class="text-yellow-400">I like Yellow</label>
    </c-checkbox-container>


  </section>

  <h2>Switch</h2>

  <section class="flex gap-2 items-center flex-wrap">

    <c-switch-container>
      <c-switch id="switch" [(ngModel)]="checked"/>
      <label for="switch">Switch me</label>
    </c-switch-container>

    <button c-button (click)="checked = !checked">switch me</button>

    <c-switch-container>
      <c-switch c-switch id="switch-disabled" [disabled]="disabled"/>
      <label for="switch-disabled">Switch me</label>
    </c-switch-container>

    <button c-button (click)="disabled = !disabled">Disabled</button>


    <c-switch-container>
      <c-switch c-switch id="switch-normal"/>
      <label for="switch-normal">Switch me</label>
    </c-switch-container>


  </section>


  <h2>Radio Group</h2>


  <section class="grid gap-2 items-center flex-wrap">


    <label id="best-framework">Select the best framework</label>

    <c-radio-group name="ui-framework" [(ngModel)]="bestFramework" aria-labelledby="best-framework">
      <c-radio-button value="angular">Angular</c-radio-button>
      <c-radio-button color="success" value="react">React</c-radio-button>
      <c-radio-button color="warning" value="svelte">Svelte</c-radio-button>
      <c-radio-button color="error" value="vuejs">Vue.js</c-radio-button>
      <c-radio-button value="disabled" disabled="true">Disabled</c-radio-button>
    </c-radio-group>

    <p>Selected framework: {{ bestFramework }}</p>

  </section>


  <h2>Ellipsis</h2>

  <section class="flex gap-2 items-center  flex-wrap">

    <p c-ellipsis class="w-20">

      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
      industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
      scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
      electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
      Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
      Aldus PageMaker including versions of Lorem Ipsum.
    </p>
  </section>

  <h2>Badge</h2>

  <section class="flex gap-2 items-center flex-wrap">

    <p c-badge color="basic">Basic</p>
    <p c-badge color="primary">Primary</p>
    <p c-badge color="success">Success</p>
    <p c-badge color="warning">Warning</p>
    <p c-badge color="error">Error</p>


  </section>


  <h2>Combobox</h2>

  <section class="flex gap-2 items-center flex-wrap">

    <button [(ngModel)]="selectedFramework" c-button b-type="outline" color="basic"
            aria-label="framework"
            [c-combobox-trigger]="comboBox">
      Selected framework: {{ selectedFramework }}
      <i class="material-icons-outlined"> unfold_more </i>
    </button>

    <ng-template #comboBox>
      <div class="grid w-40 p-1" c-combobox>
        @for (framework of frameworks;track $index) {
          <button c-button c-combo-option b-type="flat" color="basic" [value]="framework">
            {{ framework }}
            @if (framework === selectedFramework) {
              <i class="material-icons-outlined">check</i>
            }
          </button>
        }
      </div>
    </ng-template>


    <button [(ngModel)]="selectedFramework" c-button b-type="outline" color="basic"
            autocomplete
            aria-label="framework"
            [c-combobox-trigger]="comboBoxSearch">
      Selected framework: {{ selectedFramework }}
      <i class="material-icons-outlined"> unfold_more </i>
    </button>

    <ng-template #comboBoxSearch>
      <div class="grid p-1 gap-1" c-combobox>
        <div class="flex items-center px-2">
          <i class="material-icons-outlined">search</i>
          <input c-combo-search placeholder="Search...">
        </div>
        <c-separator color="secondary"/>

        <div class="grid" c-combo-group>
          <h3 class="indent-2 p-1 text-sm font-bold">First list</h3>
          @for (framework of frameworks;track $index) {
            <button c-button c-combo-option b-type="flat" color="basic" [value]="framework">
              {{ framework }}
              @if (framework === selectedFramework) {
                <i class="material-icons-outlined">check</i>
              }
            </button>
          }
          <c-separator class="my-1" color="secondary"/>
        </div>

        <div class="grid" c-combo-group>
          <h3 class="indent-2 p-1 text-sm font-bold">Second list</h3>

          @for (framework of frameworks2;track $index) {
            <button c-button c-combo-option b-type="flat" color="basic" [value]="framework">
              {{ framework }}
              @if (framework === selectedFramework) {
                <i class="material-icons-outlined">check</i>
              }
            </button>
          }

        </div>
        <p c-combo-no-result class="text-sm p-1 flex items-center justify-center gap-2">
          No result
          <i class="material-icons-outlined">search_off</i>
        </p>

      </div>
    </ng-template>

  </section>

</div>
