.error {
  border: 1px solid;
  @apply border-aiq-red-50;
  @apply bg-aiq-red-50/10;

  i {
    @apply text-aiq-red-50;
  }
}

.warning {
  border: 1px solid;
  @apply border-aiq-yellow-40;
  @apply bg-aiq-yellow-40/10;

  i {
    @apply text-aiq-yellow-40;
  }
}

.success {
  border: 1px solid;
  @apply border-aiq-green-50;
  @apply bg-aiq-green-50/10;

  i {
    @apply text-aiq-green-50;
  }
}

.info {
  border: 1px solid;
  @apply border-aiq-blue-50;
  @apply bg-aiq-blue-50/10;

  i {
    @apply text-aiq-blue-50;
  }
}
