[data-badge], [data-badge-animated] {
  position:relative;

  &:after {
    z-index: 99999;
    position:absolute;
    right:-12px;
    top:-12px;
    min-width:10px;
    min-height:10px;
    line-height:10px;
    padding:5px;
    color:#fff;
    background-color:#bf1f1f;
    font-size:10px;
    border-radius:20px;
    content:attr(data-badge);
    border:solid 1px #c93a3a;
  }
}

[data-badge-animated] {
  &:after {
    animation: jump-shaking 0.83s;
    content:attr(data-badge-animated);
  }
}


@keyframes jump-shaking {
  0% { transform: translateX(0) }
  25% { transform: translateY(-9px) }
  35% { transform: translateY(-9px) rotate(17deg) }
  55% { transform: translateY(-9px) rotate(-17deg) }
  65% { transform: translateY(-9px) rotate(17deg) }
  75% { transform: translateY(-9px) rotate(-17deg) }
  100% { transform: translateY(0) rotate(0) }
}
