.aiq-label {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.25rem 0.5rem;
  font-weight: 400;
  @apply bg-aiq-gray-20 dark:bg-aiq-gray-80;
  @apply text-aiq-gray-90 dark:text-aiq-white-100;

  &-success {
    @apply bg-aiq-green-100dark:bg-aiq-green-50;
    @apply text-aiq-green-50 dark:text-aiq-green-100;
  }

  &-information {
    @apply bg-aiq-sky-100dark:bg-aiq-sky-50;
    @apply text-aiq-sky-50 dark:text-aiq-sky-100;
  }

  &-critical {
    @apply bg-aiq-red-100dark:bg-aiq-red-50;
    @apply text-aiq-red-50 dark:text-aiq-red-100;
  }

  &-warning {
    @apply bg-aiq-orange-100dark:bg-aiq-orange-50;
    @apply text-aiq-orange-50 dark:text-aiq-orange-100;
  }


  &-rounded {
    border-radius: 0.75rem;
  }


}


