.aiq-label {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.25rem 0.5rem;
  font-weight: 400;
  @apply bg-aiq-steel-20 dark:bg-aiq-steel-80;
  @apply text-aiq-steel-90 dark:text-aiq-white-100;

  &-success {
    @apply bg-aiq-green-10 dark:bg-aiq-green-50;
    @apply text-aiq-green-50 dark:text-aiq-green-10;
  }

  &-information {
    @apply bg-aiq-sky-10 dark:bg-aiq-sky-50;
    @apply text-aiq-sky-50 dark:text-aiq-sky-10;
  }

  &-critical {
    @apply bg-aiq-red-10 dark:bg-aiq-red-50;
    @apply text-aiq-red-50 dark:text-aiq-red-10;
  }

  &-warning {
    @apply bg-aiq-orange-10 dark:bg-aiq-orange-50;
    @apply text-aiq-orange-50 dark:text-aiq-orange-10;
  }


  &-rounded {
    border-radius: 0.75rem;
  }


}


