.aiq-radio-button {
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  vertical-align: middle;
  border: 0.125rem solid;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  @apply bg-transparent dark:bg-transparent;
  @apply border-aiq-slate-60 dark:border-aiq-prussian-300;

  + label {
    cursor: pointer;
    padding: 0 0.5rem;
    user-select: none;
  }

  &:checked {
    @apply bg-aiq-ultramarine-50 dark:bg-aiq-ultramarine-50;
    border-color: transparent;
  }

  &:hover:not(:disabled) {
    @apply border-aiq-slate-90 dark:border-aiq-prussian-100;
  }

  &:disabled {
    cursor: default;
    @apply border-aiq-slate-50 dark:border-aiq-prussian-90;
    @apply bg-aiq-slate-400 dark:bg-aiq-prussian-70;

    :active {
      pointer-events: none;
    }
  }

  &:disabled:-webkit-any(:checked) {
    border-color: transparent;
    @apply bg-aiq-slate-50 dark:bg-aiq-prussian-60;
  }

  &:disabled + label {
    @apply text-aiq-slate-60;
    cursor: default;

    :active {
      pointer-events: none;
    }
  }
}


.aiq-radio-button:checked:after {
  font-family: "Material Icons";
  content: "circle";
  @apply text-aiq-white-100 dark:text-aiq-white-100;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-weight: 900;
  font-size: 0.65rem;
}
